/* Navbar Styles */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  background: rgb(0, 0, 0);
  max-width: 1200px;
}

.navbar-brand a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  margin-left: 0.5rem;
}



.nav-toggle {
  display: none;
  background: none;
  border: none;
  color: #e0e0e0;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 5px;
  top: 0;
  float: right;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0.5rem;
  gap: 1.5rem;
  background: none;
}

.navbar-links a {
  text-decoration: none;
  color: #dcdcdc;
  padding: 8px 12px;
  background: none;
  font-size: 0.9rem;
  letter-spacing: -0.05rem;
  transition: all 0.3s ease-in-out;
  font-size: 0.7rem;
}

.navbar-links a:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.95);
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 0 0 10px 10px;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links li {
    width: 100%;
    text-align: center;
    margin: 2px 0;
  }

  .navbar-links a {
    padding: 5px 0;
    display: block;
  }
}